.is-muted {
	color:$grey-light !important;
}

a.is-muted:hover {
	color:$grey !important;
}
.navbar-burger {
	border:0;
}
// .dropdown{
// 	position: relative;
// 	.dropdown-menu{
// 		display: none;
// 		position: absolute;
// 		left:0;
// 		top:110%;
// 		background-color: white;
// 		z-index: 1000;
// 		text-align: left;
// 		min-width: 200px;
// 		box-shadow: 0 0 1px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);

// 		li{
// 			&.seperator {
// 				border: 1px solid #ccc;
// 				margin:6px 0;
// 			}
// 			&>a {
// 				margin:5px 0 ;
// 				padding:5px 0 5px 15px;
// 				display: block;
// 			}
// 			&:hover {
// 				background-color:whitesmoke;
// 			}
// 		}
// 	}
// 	&.is-aligned-right .dropdown-menu {
// 		right:0;
// 		left:auto;
// 	}
// 	&.is-open .dropdown-menu {
// 		display: block;
// 	}
// }

// button.navbar-item {
// 	color:$text-light;
// 	background-color: white;
// 	border:none;

// 	&:hover{
// 		color:$link-hover;
// 	}

// 	&.is-active {
// 		color:$link-active;
// 	}
// 	//modifiers

// 	&.is-tab {
// 		border-bottom:1px solid transparent;
// 		border-top:1px solid transparent;
// 		padding:calc(0.75em - 1px);
// 		padding-left:1px;
// 		padding-right:1px;
// 		padding-top:calc(0.75rem - 1px);
// 	}
// 	&:hover {
// 		border-border-color:300px;
// 		border-top-color: transparent;

// 	}
// 	&.is-active {

// 		border-bottom:3px solid $primary;
// 		color:$primary;
// 		padding-bottom:calc(0.75em - 3px);
// 	}
// }

.navbar {
	height:4.0em;
}